<div class="page-header">
	<h2 class="page-title">official lyrics for songs</h2>
	<div class="header-wrapper">
		<div class="blank"></div>
		<div class="artist-name"><%= songs.length %> songs</div>
	</div>
</div>
<div class="page-content">
	<!-- <a class="btn btn-add" href="/songs/new">Add Song</a> -->

	<p class="instructions">
		these are the official lyrics from album notes or various official
		TERRORVISION printings.
	</p>

	<div class="song-options-wrapper">
		<% if(user.id === process.env.ADMIN_ID) { %>
		<div class="add-song-container">
			<a href="/officialSongs/new" class="add-song-btn"
				><i class="fas fa-plus-square"></i
			></a>
		</div>

		<% } %>

		<!-- <a href="/officialSongs/new" class="song-btn"
			><i class="fas fa-plus-square"></i
		></a> -->
		<div class="song-search-wrapper">
			<form action="/officialSongs" action="GET" id="search-form">
				<input
					id="search-input"
					type="text"
					name="title"
					value="<%= searchOptions.title %>"
					placeholder="search song title"
				/><button class="song-btn" type="submit" aria-label="Search Song">
					<i class="fas fa-search"></i>
				</button>
			</form>
		</div>
	</div>

	<%- include('../partials/officialSongList', { songs: songs, }) %>
</div>
