<footer>
	<!-- <a href="https://daveperry.tech" id="dev-link" target="_blank">
		designed & developed @ daveperry.tech
	</a> -->
	<a href="/logout" class="logout-text">logout</a>
	<a href="/users" class="logout-text">users</a>
</footer>
