<header>
	<h1><a href="/">TV Lyrics</a></h1>
	<nav>
		<ul>
			<li class="nav-link"><a href="/songs">Songs</a></li>
			<li class="nav-link"><a href="/lyric">Lyric</a></li>
			<li class="nav-link"><a href="/line">line</a></li>
		</ul>
	</nav>
</header>
