<nav>
	<ul class="nav-bar">
		<li class="nav-link">
			<a href="/officialSongs" class="link">
				<p class="bg-link-text">COMPLETE<br />LYRICS</p>
				<img
					src="/images/official_black.webp"
					alt="official lyrics"
					class="nav-link-icon"
				/>
			</a>
		</li>
		<li class="nav-link">
			<a href="/songs" class="link">
				<img
					src="/images/fans_black.webp"
					alt="fan lyrics"
					class="nav-link-icon"
				/>
				<p class="bg-link-text">SUGGESTED<br />LYRICS</p>
			</a>
		</li>
		<!-- <li class="nav-link" id="middle-nav">
			<a
				href="https://terror-fi.netlify.app/"
				target="_blank"
				class="link"
				id="terror-fi-link"
				rel="noopener"
			>
				<img
					src="/images/terror-fi.webp"
					alt="terror-fi"
					class="nav-link-icon"
				/>
			</a>
		
		</li> -->
	</ul>
</nav>
