<nav>
	<ul class="nav-bar">
		<li class="nav-link">
			<a href="/songs"> Fan Lyrics </a>
		</li>
		<li class="nav-link">
			<a href="/officialSongs"> Official Lyrics </a>
		</li>
		<!-- <li class="nav-link">
			<a href="/users"> Users </a>
		</li> -->
	</ul>
</nav>
