<nav>
	<ul class="nav-bar">
		<li class="nav-link">
			<!-- <p class="bg-link-text">UNOFFICIAL</p> -->
			<a href="/songs" class="link">
				<img
					src="/images/fans_black.png"
					alt="fan lyrics"
					class="nav-link-icon"
				/>
			</a>
		</li>
		<li class="nav-link" id="middle-nav">
			<a
				href="https://terror-fi.netlify.app/"
				target="_blank"
				class="link"
				id="terror-fi-link"
			>
				<img
					src="/images/terror-fi.png"
					alt="terror-fi"
					class="nav-link-icon"
				/>
			</a>
			<a
				href="https://terror-fi.netlify.app/"
				target="_blank"
				class="link"
				id="tv-times-link"
			>
				<img src="/images/tv-times.png" alt="tv times" class="nav-link-icon" />
			</a>
		</li>
		<li class="nav-link">
			<!-- <p class="bg-link-text">OFFICIAL</p> -->
			<a href="/officialSongs" class="link">
				<img
					src="/images/official_black.png"
					alt="official lyrics"
					class="nav-link-icon"
				/>
			</a>
		</li>
	</ul>
</nav>
