<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>TV lyric library</title>
		<script
			defer
			src="https://kit.fontawesome.com/e36c9fc356.js"
			crossorigin="anonymous"
		></script>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<div class="container">
			<%- include('../partials/header.ejs') %>
			<div class="inner-container"><%- body %></div>
			<%- include('../partials/footer.ejs') %>
		</div>
	</body>
</html>
