<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content="Terrorvision Lyric App compiled of fans submissions and official lyrics"
		/>
		<meta name="robots" content="index,follow" />
		<title>Some People Say</title>

		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/favicon/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicon/favicon-16x16.png"
		/>
		<link rel="manifest" href="/favicon/site.webmanifest" />

		<link
			href="https://unpkg.com/filepond@^4/dist/filepond.css"
			rel="stylesheet"
		/>
		<link
			href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
			rel="stylesheet"
		/>
		<link rel="preload" as="image" href="/images/bg_left.webp" />
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<script
			defer
			src="https://kit.fontawesome.com/e36c9fc356.js"
			crossorigin="anonymous"
		></script>
		<script
			defer
			src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"
		></script>
		<script
			defer
			src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"
		></script>
		<script
			defer
			src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"
		></script>
		<script defer src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>
		<script defer src="/javascripts/fileUpload.js"></script>
		<!-- <link
			rel="stylesheet"
			href="/stylesheets/style.css"
			media="print"
			onload="this.media='all'"
		/> -->
	</head>
	<body>
		<!-- <img src="/images/bg_left.png" alt="background" id="bg-left" /> -->
		<div class="border border-left"></div>
		<div class="container">
			<%- include('../partials/header.ejs') %>
			<div class="inner-container"><%- body %></div>
			<%- include('../partials/navbar.ejs') %>
		</div>
		<div class="border border-right"></div>
		<!-- <img src="/images/bg_right.png" alt="background" id="bg-right" /> -->
	</body>
</html>
