<div class="page-content">
	<a href="/login" class="btn btn-login">Login</a>

	<a href="/signup" class="btn btn-login">Sign Up</a>

	<a href="/logout" class="logout-text">logout</a>
	<!-- <a href="/songs" class="nav-link btn songs-btn">song list</a> -->

	<!-- <form class="login-form form">
		<div class="login-btn">
			<button class="btn btn-primary">Log in</button>
		</div>
		<label class="login-label" for="email">Email</label>
		<input
			class="login-input"
			type="text"
			name="email"
			placeholder="dummy email"
		/>
		<div class="error email"></div>
		<label class="login-label" for="password">Password</label>
		<input
			class="login-input"
			type="password"
			name="password"
			placeholder="dummy email"
		/>
		<div class="error password"></div>
		<div class="login-btn">
			<button class="btn btn-primary">Log in</button>
		</div>
	</form> -->
</div>
