<div class="page-content">
	<div class="about-wrapper">
		<p>Welcome to Some People Say</p>
		<p>Terrorvision lyrics app</p>
		<br />
		<p>
			An app where us fans can review and revise lyrics for b-sides and the
			like. The goal being to eventually have all the correct lyrics for a song.
		</p>
		<!-- <p>
			Please can you sign up as a new user - doesn't have to be your real email
			as long as contains an @
		</p> -->
		<br />
		<p>It also houses all the official lyrics for ease of access</p>
		<!-- <p>
			Then choose a song to review the lyrics and add your own if you think they
			are different
		</p> -->
		<br />
		<p>
			I will be adding new songs but feel free to request any and I will upload
		</p>
		<br />
		<p>
			No personal data is being collected, but you can sign up with a fake
			email, and all passwords are hashed anyway
		</p>
		<br />

		<p>
			Feel free to drop me a DM if you spot any bugs or issues or simply let me
			know what you think
		</p>
		<br />
	</div>

	<!-- <div class="btn-row">
		<a href="/login" class="btn btn-login-home btn-primary">Login</a>
	</div> -->
	<div class="btn-container">
		<div class="hyrogliphics"><p class="hyro-text">login</p></div>
		<div class="hyro-blank"></div>
		<a href="/login" class="btn btn-login-home btn-primary">Login</a>
		<div class="hyro-blank"></div>
		<div class="hyrogliphics"><p class="hyro-text">login</p></div>
	</div>

	<p class="signup-text">
		Not signed up?
		<a href="/signup" class="signup-link">Create an account</a>
	</p>

	<!-- <a href="/signup" class="btn btn-login">Sign Up</a> -->

	<!-- <a href="/logout" class="logout-text">logout</a> -->
	<!-- <a href="/songs" class="nav-link btn songs-btn">song list</a> -->

	<!-- <form class="login-form form">
		<div class="login-btn">
			<button class="btn btn-primary">Log in</button>
		</div>
		<label class="login-label" for="email">Email</label>
		<input
			class="login-input"
			type="text"
			name="email"
			placeholder="dummy email"
		/>
		<div class="error email"></div>
		<label class="login-label" for="password">Password</label>
		<input
			class="login-input"
			type="password"
			name="password"
			placeholder="dummy email"
		/>
		<div class="error password"></div>
		<div class="login-btn">
			<button class="btn btn-primary">Log in</button>
		</div>
	</form> -->
</div>
