<div class="page-header">
	<h2 class="page-title">views - index.ejs</h2>
	<div class="header-wrapper">
		<div class="blank"></div>
		<h3 class="artist-name">terrorvision</h3>
	</div>
</div>
<div class="page-content">
	<a href="/songs" class="nav-link">songs</a>
</div>

<!-- <div class="page-header">gfggdf</div> -->
<!-- <div class="page-content">gfggdf</div> -->
