<div class="page-content">
	<div class="about-wrapper">
		<h3>Welcome to Some People Say</h3>
		<h4>Terrorvision lyrics app</h4>
		<br />
		<p>
			Please can you sign up as a new user - doesnt have to be your real email
			as long as contains an @
		</p>
		<br />
		<p>
			please could you create 1 new song (a few verses and a chorus will do for
			now - ideally chuck in a couple of wrong lyrics), and edit at least one
			song
		</p>
		<br />
		<h3>Thank you for helping me test this app.</h3>
		<h4>please let me know your thoughts so far</h4>
		<br />
		<p>the look of the site will change but for now it'll do</p>
	</div>

	<div class="btn-row">
		<a href="/login" class="btn btn-login-home btn-primary">Login</a>
		<a href="/signup" class="btn btn-login-home btn-primary">Sign up</a>
	</div>

	<!-- <a href="/signup" class="btn btn-login">Sign Up</a> -->

	<!-- <a href="/logout" class="logout-text">logout</a> -->
	<!-- <a href="/songs" class="nav-link btn songs-btn">song list</a> -->

	<!-- <form class="login-form form">
		<div class="login-btn">
			<button class="btn btn-primary">Log in</button>
		</div>
		<label class="login-label" for="email">Email</label>
		<input
			class="login-input"
			type="text"
			name="email"
			placeholder="dummy email"
		/>
		<div class="error email"></div>
		<label class="login-label" for="password">Password</label>
		<input
			class="login-input"
			type="password"
			name="password"
			placeholder="dummy email"
		/>
		<div class="error password"></div>
		<div class="login-btn">
			<button class="btn btn-primary">Log in</button>
		</div>
	</form> -->
</div>
