<h2 class="page-header"><%= lyric.lyric %></h2>
<div class="btn-row">
  <a class="btn btn-primary" href="/lyric/<%= lyric.id %>/edit">Edit</a>
  <%- include('../partials/deleteForm',
      {url: `/lyric/${lyric.id}` }) %>
</div>

   