<div class="form-row">
	<div class="form-item">
		<label>Title</label>
		<input type="text" name="title" value="<%= song.title %>" />
	</div>
</div>
<div class="form-row">
	<div class="form-item">
		<label>Lyrics</label>
		<textarea
			type="text"
			name="initialLyrics"
			value="<%= song.initialLyrics %>"
		></textarea>
	</div>
</div>
