<div class="page-header">
	<h2 class="page-title">create song</h2>
	<div class="header-wrapper">
		<div class="blank"></div>
		<h3 class="artist-name">terrorvision</h3>
	</div>
</div>
<div class="page-content">
	<p class="instructions">
		When adding lyrics, separate each line of lyrics with a "<strong> / </strong
		>".
		<br />
		A single line of lyrics will generally contain no more than 12 syllables!
		<br />
		Omit any sections that are repeated
	</p>

	<form action="/songs" method="POST" class="new-song-form">
		<!-- <div class="song-form-row">
			<div class="song-form-item">
				<label>User Id</label>
				<input
					type="text"
					name="userID"
					value="<%= user.id %>"
					class="song-title-input"
				/>
			</div>
		</div> -->
		<div class="song-form-row">
			<div class="song-form-item">
				<label>Song Title</label>
				<input
					type="text"
					name="title"
					value="<%= song.title %>"
					class="song-title-input"
				/>
			</div>
		</div>
		<div class="song-lyrics-form-row">
			<div class="song-lyrics-form-item">
				<label>Lyrics</label>
				<textarea
					type="text"
					name="initialLyrics"
					value="<%= song.initialLyrics %>"
					class="song-lyrics-textarea"
					placeholder="*** EXAMPLE *** If i had three wishes,/i'd wish for five,/peace on earth ban the bomb,/get along and survive"
				></textarea>
			</div>
		</div>
		<div class="form-btn-row btn-row">
			<a class="btn btn-danger" href="/songs">Cancel</a>
			<button class="btn btn-primary" type="submit">Create</button>
		</div>
	</form>
</div>
