@font-face {
	font-family: 'Terrorvision';
	src: url('../../fonts/Terrorvision.woff') format('woff2'),
		url('../../fonts/Terrorvision.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: '1942';
	src: url('../../fonts/1942.ttf');
	/* url('../../fonts/Terrorvision.woff') format('woff'); */
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Egypte';
	src: url('../../fonts/EGYPTE.ttf');
	font-display: swap;
}
