footer {
	background-color: #700404;
	color: white;
	width: 100%;
	border-top: 2px solid #ab0202;

	/* padding: 0.5rem; */
}
#dev-link {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	font-style: italic;
	font-weight: 100;
	color: white;
	font-family: 'Rock Salt';
	border-top: 2px solid rgb(190, 190, 190);
}
