select {
	min-width: 282px;
	flex: 1;
	font-size: 1.4rem;
	padding: 0.2rem;
}
option p::first-letter {
	text-transform: capitalize;
}
option {
	min-width: 282px;
	flex: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.4rem;
	padding: 0.5rem;
}

input {
	min-width: 282px;
	/* max-width: 350px; */
	font-size: 1.4rem;
	padding: 0.2rem;
	flex: 1;
}
.form-row {
	/* border: 1px solid red; */
	font-size: 1.4rem;
	padding: 0.4rem 0.4rem;
	margin: 0.2rem 0;
	/* display: flex;
	justify-content: flex-start;
	align-items: center;
	column-gap: 1rem; */
	max-width: 645px;
}
.form-row:nth-child(odd) {
	background-color: rgb(188, 191, 194);
}
.form-row:nth-child(even) {
	background-color: rgb(173, 177, 180);
}
.form-row p {
	font-weight: bold;
	text-align: right;
}
.form-line {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-wrap: wrap;
	column-gap: 0.4rem;
	row-gap: 0.2rem;
	/* border: 1px solid green; */
}
/* .form-line > * {
	flex: 1;
} */
