header {
	background-color: rgb(190, 190, 190);
	color: #700404;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* padding: 0.5rem; */
}
.logo {
	background-color: #700404;
	height: 5rem;
	width: 5rem;
	color: white;
	display: grid;
	place-content: center;
}
.logo img {
	width: 100%;
	height: 100%;
}
#brand {
	width: 100%;
	height: 100%;

	font-family: 'Caveat', cursive;
	text-transform: uppercase;
	letter-spacing: 2px;
}
a#home-link {
	display: block;
	width: 100%;
	height: 100%;

	font-size: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #700404;
	font-weight: 700;
}
.user-logged-in-name {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 1rem;
	padding-right: 1rem;
}
.user-logged-in-name a {
	color: white;
}
.show-profile-circle {
	height: 40px;
	width: 40px;
	border: 2px solid #700404;
	border-radius: 50%;
}
