nav {
	/* background-color: #700404; */
	/* background-color: #981034; */
	color: white;
	width: 100%;
	/* border-top: 2px solid #ab0202; */
	/* display: flex;
	justify-content: space-evenly;
	align-items: center; */

	/* padding: 0 0.5rem; */
	border-radius: 5px;
	margin-bottom: 5px;
	padding: 0 5px;
}
.nav-link a {
	color: white;
	/* border: 2px solid white; */
	/* width: 100%; */
	text-align: center;
}
.nav-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* border-top: 2px solid rgb(190, 190, 190); */
	width: 100%;
	column-gap: 1rem;
}
.nav-link {
	/* width: 100%; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1rem;
	/* font-style: italic; */
	font-weight: 100;
	color: black;
	flex: 1;
	position: relative;
	/* background-color: #981034; */
	/* background-color: black; */
	border-radius: 10px;
	border: 2px solid black;
	position: relative;
}
.nav-link:first-child::before {
	position: absolute;
	content: '';
	background-color: black;
	top: 0;
	left: -15px;
	height: 100%;
	width: 3px;
	margin-left: 10px;
}
.nav-link:first-child::after {
	position: absolute;
	content: '';
	background-color: black;
	top: 50%;
	left: -13px;
	transform: translateY(-50%);
	height: 50%;
	width: 3px;
	margin-left: 10px;
}
.nav-link:last-child::before {
	position: absolute;
	content: '';
	background-color: black;
	top: 0;
	right: -15px;
	height: 100%;
	width: 3px;
	margin-right: 10px;
}
.nav-link:last-child::after {
	position: absolute;
	content: '';
	background-color: black;
	top: 50%;
	right: -13px;
	transform: translateY(-50%);
	height: 50%;
	width: 3px;
	margin-right: 10px;
}
.nav-link .bg-link-text {
	/* position: absolute; */
	/* top: 50%; */
	/* left: 50%; */
	/* transform: translate(-50%, -50%); */
	/* color: grey; */
	/* display: none; */
	font-size: 1.4rem;
	flex: 1;
	text-align: center;
	color: black;
}
.link {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* font-size: 1rem; */
	/* font-style: italic; */
	/* font-weight: 100; */
	color: black;
	flex: 1;

}
.nav-link-icon {
	height: 40px;
	width: 40px;
}
#terror-fi-link {
	background-color: black;
	width: max-content;
	border-radius: 5px;
	margin: 5px;
}
#tv-times-link {
	/* border: 1px solid black; */
	width: max-content;
}
#middle-nav {
	justify-content: space-evenly;
}
