/* #official-songs-table {
	padding: 0 1rem;
	border-collapse: collapse;
	margin: 0 1rem;
	table-layout: fixed;
}
#official-songs-table tbody {
	display: block;
	width: 100%;
	overflow: auto;
	height: 300px;
}
#official-songs-table thead tr {
	display: block;
} */
#official-songs-table th {
	border-bottom: 2px solid var(--red);
	padding-left: 0;
	padding-right: 0;
}
#official-songs-table {
	/* border: 1px solid; */
	padding: 0 1rem;
	border-collapse: collapse;
	margin: 0 1rem;
}
