.song-list-container,
.lyric-list-container {
	/* background-color: lightgreen; */
	flex: 1;
	/* padding-top: 2rem; */
}

.song-row {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 0.5rem;
	padding: 0.5rem 1rem;
	/* background-color: #7004048c; */
	color: black;
	font-weight: bolder;
}
.song-title {
	font-family: 'Caveat', cursive;
	text-transform: uppercase;
	/* letter-spacing: 1px; */
	font-size: 2rem;
	display: flex;
	align-items: center;
}
.lyric-line-row {
	/* border: 1px solid red; */
	font-size: 1.6rem;
	padding: 0.2rem 0.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* column-gap: 0.5rem; */
}
.lyric-line-row p:first-child {
	/* font-weight: bold; */
	text-align: right;
	font-size: 1.2rem;
	/* padding-left: 0.5rem; */
	display: none;
}
.lyric-line {
	/* width: 400px; */
	font-size: 2.8rem;
	flex: 1;
	text-align: left;
	padding: 0 0.2rem;
	font-family: 'Caveat', cursive;
	line-height: 1.6rem;
}
.lyric-line::first-letter {
	text-transform: capitalize;
}
.hide {
	display: none;
}
textarea.song-lyrics-textarea {
	font-size: 1.6rem;
	padding: 0.5rem;
	font-family: 'Roboto', sans-serif;
}
.song-options-wrapper {
	/* border: 1px solid black; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1rem;
	column-gap: 1rem;
}
#search-form {
	display: flex;
	justify-content: stretch;
	align-items: stretch;
	flex: 1;
}
input#search-input {
	border: 1px solid;
	/* height: 41px; */
	width: 100px;
}
#songs-table {
	/* border: 1px solid; */
	padding: 0 1rem;
}
#songs-table th {
	border-bottom: 1px solid;
	padding-left: 0;
}
