<div class="form-row">
	<div class="form-item">
		<label>Username</label>
		<input type="text" name="username" value="<%= user.username %>" />
	</div>
</div>
<div class="form-row">
	<div class="form-item">
		<label>Email</label>
		<input type="text" name="email" value="<%= user.email %>" />
	</div>
</div>
<div class="form-row">
	<div class="form-item">
		<label>Password</label>
		<input type="password" name="password" />
	</div>
</div>

<div class="form-row">
	<div class="form-item form-item-no-grow">
		<label>Profile Pic</label>
		<input type="file" name="cover" class="person-cover filepond" />
	</div>
</div>
